.header{
  width: 100%;
  height:100px;
	background-color: #fff;


}
.header-center-left{
  width:490px; 
  height:100px;
  float: left;
 
}

.header-center-left h1 a img{
	width:126px;
	height: 46px;
	padding:20px;
}
.header-center-center{
	 padding-top:24px;
	width:500px;
	height:38px;
	float:right;
	position:relative;

	text-align:center;
}
.header-center-center div{
	width: 300px;
	height:30px;
   float:right;
	margin-left:100px;
	text-align: center;
	margin-top:25px;
}
.header-center-center div span{
     
	  display:inline-block;
	  font-size:13px;
		text-align: center;
}
.header-center-center div span:nth-child(2){
	width:40px;
}
.register{
	width:100%;
	height:500px;
	background-color: #F7F8F8;


}
.register .register-main{
	margin:0 auto;
	width: 1190px;
	height:500px;
  background-color: #fff;
	border:1px solid#ccc;
}
.register .register-main .register-main-left{
	float:left;
	width: 600px;
	height:500px;
	margin-left:20px;
	position: relative;
}
.register-main .register-main-left .tips{
	width:200px;
	height: 20px;

	font-size:13px;
	 position: absolute;
	 /* background-color:  #aaa; */
	 background-color:#C0C0C0;
	 top:265px;
	 left:90px;
}
.register-main .register-main-left .tips b{
	width:50px;
	height:20px;
	 float: left;
	display:block;
	text-align: center;
	line-height: 20px;
	padding: 0;
	margin: 0;

}
.register-main .register-main-left button{
	width:140px;
	height: 20px;
	font-size:13px;
	 position: absolute;
	 border:1px solid #aaa;
	 background-color:#C0C0C0;
	 top:84px;
	 left:110px;
   text-align:center;
}
.register-main .register-main-left .bb{
	display: inline-block;
   width:40px;
	 height:20px;
	 position: absolute;
	
	 top:84px;
	 left:260px;
   text-align:center;
}
.display-none{
	display: none;

}
.display-block{
	display:inline-block;
}
.red{
	color:red;
}
.green{
	color:green;
}
.register-main .register-main-left a{
display: inline-block;
	height: 20px;
	font-size:13px;
   text-align:center;
	color:#FE8C00;
	margin-top:20px;
	margin-left:60px;
}

.register .register-main .register-main-left input{
  
	width:260px;
	height:35px;
	margin:28px 0;
	outline:none !important;
	
}
.register .register-main .register-main-left .agreement{
      width:160px;
			height:30px;
			background-color: #FFD000;
			text-align: center;
			line-height: 30px;
			font-weight: 700;
			margin-left:75px;
}
.register-main-right{
	float:right;
	margin-top:40px;
	width: 500px;
	height:400px;
}
.register-main-right img{
	width:332px;
	height:316px;
}

/*底部布局*/
.foot-center{

	/*width:1190%;*/
 height:800px;
 }
 .foot-center-top {
 
 width:100%;
 height:560px;

 
 
 }
 .footer-column{
 width:200px;
 height:560px;
 float:left;
 margin-left:20px;;
 }
 .footer-column dt{
 margin:20px 0;
 }
 .footer-column dd{
 
 margin-top:4px;
 font-size:12px;
 font-weight: 500px;
 color: #333333;
 margin:4px 0;
 }
 
 body{
	 position: relative;
 }
 body .tishi{
	 display: inline-block;
	 width:300px;
	 height:20px;
	  margin-left:600px;
 }