@font-face {
  font-family: "iconfont"; /* Project id 2848212 */
  src: url('iconfont.woff2?t=1633329541332') format('woff2'),
       url('iconfont.woff?t=1633329541332') format('woff'),
       url('iconfont.ttf?t=1633329541332') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anchor_point:before {
  content: "\e90b";
}

.icon-card:before {
  content: "\e90c";
}

.icon-christmas_hat:before {
  content: "\e90d";
}

.icon-spray:before {
  content: "\e90e";
}

.icon-mail:before {
  content: "\e90f";
}

.icon-palette_2:before {
  content: "\e910";
}

.icon-compass:before {
  content: "\e911";
}

.icon-chart:before {
  content: "\e912";
}

.icon-cinema:before {
  content: "\e913";
}

.icon-projector:before {
  content: "\e914";
}

.icon-chess:before {
  content: "\e915";
}

.icon-old_photo_camera:before {
  content: "\e916";
}

.icon-handshake:before {
  content: "\e917";
}

.icon-monkey:before {
  content: "\e918";
}

.icon-now:before {
  content: "\e919";
}

.icon-monitor:before {
  content: "\e91a";
}

.icon-coffee:before {
  content: "\e91b";
}

.icon-sleepers:before {
  content: "\e91c";
}

.icon-sousuo1:before {
  content: "\e651";
}

.icon-sousuo:before {
  content: "\e60a";
}

.icon-iconfontjiantou3:before {
  content: "\e633";
}

.icon-iconfontjiantou:before {
  content: "\e638";
}

.icon-jiantou9:before {
  content: "\e60b";
}

.icon-dingwei:before {
  content: "\e8c4";
}

.icon-gouwu:before {
  content: "\e61e";
}

.icon-shuaxin_huaban1:before {
  content: "\e60c";
}

